.root {
    -fx-base: #5b5b5b;
    -fx-accent: #606060;
    -fx-default-button: #606060;
    -fx-focus-color: #686868;
    -fx-faint-focus-color: #68686822;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color;

    -fx-background: rgb(50, 50, 50);
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 35%,
        -fx-dark-text-color  36%,
        -fx-dark-text-color  49%,
        -fx-mid-text-color   50%
    );
}

.text {
 -fx-font-smoothing-type: lcd;
 -fx-fill: white;
}

.list-cell {
    -fx-background-color: #5b5b5b;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #404040;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #5b5b5b;
}

.list-cell:odd {
    -fx-background-color: #606060;
}

.list-cell:filled:hover {
    -fx-background-color: #484848;
    -fx-text-fill: black;
}
